<<<<<<< HEAD
=======
.change-password-page {
  display: flex;
  flex-direction: column;
  gap: var(--space-6);
}

>>>>>>> 3effed8 (chuyển tsx -> jsx)
.change-password-page__card {
  width: 100%;
  max-width: var(--container-md);
  margin-inline: auto;
}

.change-password-page__content {
  padding-top: var(--space-6);
}
